<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/global.css">
  <title>Title</title>
</head>

<body>
  <h1>The Winner Is...</h1>
  <h2 th:text="${players.get(0)}">Winner</h2>

  <div class="container">
    <div class="vContainer">
      <form th:each="player: ${players}" action="/difficulty/choose/">
        <button class="punchline" type="submit">
          <p class="cardText" th:text="${difficulty}">Difficulty</p>
          <input type="text" name="difficulty" th:value="${difficulty}" hidden />
        </button>
      </form>
    </div>
  </div>

  <div>

  </div>

</body>

</html>