<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/global.css">
  <title>Title</title>
</head>

<body>
  <h1>The Winner Is...</h1>
  <h2 th:text="${players.get(0)}">Winner</h2>

  <div class="container">
    <div class="vContainer">
      <div th:each="player: ${players}">
        <div class="joke">
          <p class="cardText" th:text="${player.toString()}">PLayer</p>
        </div>
      </div>
      <button onclick="window.location = '/'" class="continue">Play Again</button>
    </div>
  </div>

  <div>

  </div>

</body>

</html>